body{
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.landingPC{
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;    
    padding: 2%;
}

.imgLanding{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#btnLanding{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.columnaUno{
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnaDos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ajusteIMG{
    width: 250px;
    height: auto;
    margin: 6%;
}



#idHome{
    cursor: pointer;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; !important; 
}